/*  ESTILOS DEL COMPONENTE APP */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor-principal {
  margin: 20px auto 20px auto;
  padding: 2em;
}

.contenedor-saludo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.imagenLogo {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.contenedor-enlaces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.enlace {
  font-size: 1.5em;
  color: #7dade3e5;
  cursor: pointer;
}